<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/widgets/"><img class="brand" src="/radiumdev/static/img/full_logo.svg" height="30"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-link" ng-class="$ctrl.navClass('/widgets/')" href="#" ng-click="$ctrl.navigate('/widgets/')">Widgets</a></li>
                <li class="nav-item"><a data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-link" ng-class="$ctrl.navClass('/options/')" href="#" ng-click="$ctrl.navigate('/options/')">Options</a></li>
            </ul>
        </div>
    </nav>
</header>
