.q-table
    th.q-table-th
        -webkit-touch-callout: none
        -webkit-user-select: none
        -khtml-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none

        .q-table-th-wrap
            display: flex
            justify-content: space-between
            align-items: baseline

            .q-table-sort-icon
                color: #D32F2F

            .q-table-filter-button
                opacity: 0
                color: #999999

                &:hover
                    color: #000000

            .q-table-filter-button-active
                color: #D32F2F

        &:hover .q-table-th-wrap .q-table-filter-button
            cursor: pointer
            opacity: 1

    th.sortable
        &:hover
            cursor: pointer
            background-color: #f8f9fa

        &:active
            background-color: #f0f2f5

    tbody tr
        &.disabled
            td:not(.q-table-menu-td)
                opacity: 0.25
                -webkit-transition: opacity .15s ease-in-out
                -moz-transition: opacity .15s ease-in-out
                -ms-transition: opacity .15s ease-in-out
                -o-transition: opacity .15s ease-in-out
                transition: opacity .15s ease-in-out

                &:hover
                    opacity: 1

        &:hover
            background-color: #f8f9fa

.empty-table
    i
        color: #d4e1f0

    span
        font-weight: bold

.table-error
    i
        color: #dc3545

    span
        font-weight: bold