<page-wrapper page-title="Options" ng-if="$ctrl.loaded">
    <form class="form" name="settingsForm" ng-submit="$ctrl.save(settingsForm.$valid)">
        <div class="card">
            <div class="card-header"><i class="fas fa-cog"></i> General</div>
            <div class="card-body">
                <div class="form-group">
                    <label for="$ctrl.options.ExampleString">Example String</label>
                    <input type="text" class="form-control" placeholder="Some Value" id="$ctrl.options.ExampleString" ng-model="::$ctrl.options.ExampleString">
                    <small class="form-text text-muted">An example option with a string value</small>
                </div>
                <div class="form-group form-check">
                    <checkbox label="Example Bool" model="$ctrl.options.ExampleBool"></checkbox>
                    <small class="form-text text-muted">An example option with a bool value</small>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <wait-button title="Save" loading="$ctrl.loading" icon="fas fa-save" click="$ctrl.save(settingsForm.$valid)"></wait-button>
        </div>
    </form>
</page-wrapper>
