<div class="modal-header">
    <h5 class="modal-title">Filter {{ $ctrl.columnTitle }}</h5>
</div>
<div class="modal-body">
    <form class="form" name="userForm" ng-submit="$ctrl.save(userForm.$valid)">
        <div class="form-group">
            <label for="$ctrl.filter.pattern">Pattern</label>
            <input type="text" class="form-control" id="$ctrl.filter.pattern" placeholder="Regular Expression" required ng-model="$ctrl.filter.pattern">
        </div>
        <div class="form-group form-check">
            <checkbox label="Not (Inverse Match)" model="$ctrl.filter.not"></checkbox>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" ng-click="$ctrl.response(false)">Discard</button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.response(true)">Apply</button>
</div>
