<page-wrapper page-title="View Widget">
    <page-loading ng-if="$ctrl.loading"></page-loading>
    <div class="container" ng-if="!$ctrl.loading">
        <div class="mb-3">
            <a ng-href="/widgets/widget/{{ $ctrl.widget.ID }}/edit/" class="btn btn-sm btn-outline-primary"><i class="fas fa-edit"></i> Edit</a>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">Widget Details</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Name: </strong> {{ $ctrl.widget.Name }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</page-wrapper>
